{% extends 'default/index.html.twig' %}
{% block form %}
<section class="dashboard-counts section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
                {% if form is defined %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                {% else %}
                {{ dump(task) }}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
