<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/fontastic.css') }}" rel="stylesheet" />
            <link href="{{ asset('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700') }}" rel="stylesheet" />
            <link href="{{ asset('css/grasp_mobile_progress_circle-1.0.0.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/style.default.css') }}" rel="stylesheet" />
            <link href="{{ asset('img/favicon.ico') }}" rel="shortcut icon" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block javascripts %}
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/popper.js/umd/popper.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/grasp_mobile_progress_circle-1.0.0.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery.cookie/jquery.cookie.js') }}"></script>
        <script src="{{ asset('vendor/chart.js/Chart.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery-validation/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <script src="{{ asset('js/charts-home.js') }}"></script>
        <script src="{{ asset('js/front.js') }}"></script>
        {% endblock %}
    </body>
</html>
